{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sample.css' %}">
</head>
<body>
	<h1>This is sample page for CSS</h1>

	<h2>Inline styles</h2>

	<p style="background-color: pink;color: white;padding: 23px;margin-left: 250px;margin-right: 250px;font-size: 23px">This is sample for Inline</p>

	<p>This is Sample page</p>
	<h3 style="background-color: red;color: white;padding: 25px">This is Demo</h3>


	<h2>Internal Styles</h2>
	<p>This is demo</p>

	<h4>This is sample for External CSS</h4>

</body>
</html>