<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
	<style type="text/css">
		.container{
			background-color: #DB54E7;
			border: 5px;
			width: 50%;
			margin-left: 30%;
			margin-top: 5%;
			padding: 15px;
			}
			h1{
				text-align: center;
				background-color: #DB54E7;
				font-size: 40px;
				font-family: bold;
			}
			input{
				width: 97%;
				padding: 10px;
				border: none;
				border-radius: 5px;
				margin: 5px 0 20px 0;
			}
		.save{
			background-color: blue;
			width: 20%;
			margin-top: 10%;
			margin-left: 40%;
			color: white;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>LOGIN PAGE</h1>
		<label>Username
			<input type="email" name="emailid" id="emailid" placeholder="Enter Email">
		</label><br>
		<label>Password
		 	<input type="password" name="password" id="password" placeholder="Enter password">
		</label>
		<label>
			<input type="submit" name="login" value="login" class="save">
		</label>
	</div>

</body>
</html>