<!DOCTYPE html>
<html>
<head>
	<title>arithematic operations</title>
</head>
<body>

	<h2>WELCOME TO JavaScript</h2>

	<form>
		a <input type="text" name="" id="a" placeholder="Enter a value"><br>
		b <input type="text" name="" id="b" placeholder="Enter b value"><br>

		<input type="submit" name="" onclick="math()" value="validate">
	</form>

	<script type="text/javascript">
		function math(){
			var a1 = document.getElementById('a').value
			var b1 = document.getElementById('b').value

			var add = parseInt(a1)+parseInt(b1)
			var sub = parseInt(a1)-parseInt(b1)
			var mul = parseInt(a1)*parseInt(b1)

			alert("Addition is"+add+"\n"+"subtraction is"+sub+"\n"+"Multiplication is"+mul)



		}
	</script>

		
		
	</script>



</body>
</html>