{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>registerPage</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
</head>
<body>
	<div class="container">
		
		<h1>REGISTRATION PAGE</h1>

		<label>First Name:<input type="text" name="fname" id="fname" placeholder="Enter First Name"></label>

		<label>Last Name:<input type="tect" name="lname" id="lname" placeholder="Enter Last name"></label>
		
		<label>Email:<input type="email" name="emailid" id="email" placeholder="Enter Email Id"></label>

		<label>Password:<input type="password" name="password" placeholder="Enter Password"></label>

		<label>Confirm Password:<input type="password" name="password" placeholder="Enter Password"></label>

		<label><input type="submit" value="Register" class="save"></label>
		
	</div>

</body>
</html>