{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CRUD</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <div class="container col-md-4">
        <form action="{% url 'Delete' info1.id %}" method="POST">
            {% csrf_token %}
            <div class="alert alert-primary alert dismissable fade show mt-5">
                <h2 class="alert text-center">Are you sure want to delete this record??</h2>
                <div class="text-center">
                    <input type="submit" name="submit" value="Delete" class="btn btn-danger btn-md mb-3">
                    <a href="{% url 'Display' %}" class="btn btn-warning btn-md mb-3">Cancel</a>
                </div>
                
            </div>
        </form>
        </div>
    </body>
</html>